.comp-template {
    width: 75%;
    margin: 50px auto;
}

.template-code-tag {
    font-family:Monaco,Lucida Console,Courier New;
}

.template-install {
   padding: 20px 10px 20px 10px;
}

.template-title .template-code-tag {
    position: relative;
    top: -84px;
    left: 60%;
}

.template-title .template-code-tag span {
    font-size: 12px;
    background-color: #f7f7f7;
    border-radius: 6px;
    border: 1px solid #E5E5E5;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.comp-template .example-button{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
}

.ts-logo {
    height: 55px;
    position: relative;
    top: -130px;
    left: 120px;
}

.react-logo {
    width: 55px;
    position: relative;
    top: -139px;
    left: -11px;
}

.code-section {
    background-color: #f7f7f7;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    font-family:Monaco,Lucida Console,Courier New;
}


.primary-btn :hover {
    background-color: #4E35B7;
}