.main-content {
    height: 100vh;
    
}

.main-content .top{
    width:100%;
    height:50%;
}

/******* Design system card  *****/
.main-content .bottom-left {
    background-color:#211554;
    width:50%;
    height:50%;
    background-image: url(./assets/computer-icon.png);
    background-repeat: no-repeat;
    background-position: top 10% right 5%;
    background-size: 150px;
    float: left;;
}

.main-content .bottom-left .title {
    font-family: co-headline, sans-serif !important;
    color: #ffffff;
    font-size:4rem;
    text-align: center;
    line-height: 50px;
    padding-top:15%;
    width: 100px;
    margin:auto;
}

.main-content .bottom-left .title span {
    width: 35px;
    height: 5px;
    display: block;
    background-color: #51DEB7;
    margin-left:8px;
    border-radius: 25px;
    margin: 8px 0 0 15px;
}

.main-content .bottom-left .text {
    color: #ffffff;
    font-size:1.25rem;
    text-align: center;
    line-height: 35px;
}

.main-content .bottom-left .icon {
    height:150px;
    width:100%;
    display: block;
    background-image: url('./assets/xd-icon.png');
    background-repeat: no-repeat;
    background-position:5%;
    

}

/******* Component Library card  *****/

.main-content .bottom-right {
    background-color:#8A63FC;
    width:50%;
    height:50%;
    background-image: url(./assets/component.png);
    background-repeat: no-repeat;
    background-position: top 10% left 5%;
    background-size: 150px;
    float: left;
    
}

.main-content .bottom-right .title {
    font-family: co-headline, sans-serif !important;
    color: #ffffff;
    font-size:4rem;
    text-align: center;
    line-height: 50px;
    padding-top:15%;
    width: 100px;
    margin:auto;
}

.main-content .bottom-right .title span {
    width: 35px;
    height: 5px;
    display: block;
    background-color: #51DEB7;
    margin-left:8px;
    border-radius: 25px;
    margin: 8px 0 0 15px;
}

.main-content .bottom-right .text {
    color: #ffffff;
    font-size:1.25rem;
    text-align: center;
    line-height: 35px;
}

.main-content .bottom-right .icon {
    height:150px;
    width:100%;
    display: block;
    background-image: url('./assets/react-icon.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.section-link{
    display: block;
}

.corp-logo{
    height: 100px;
    width: 180px;
    background-image: url('./assets/DI-full.png');
    background-repeat: no-repeat;
    background-size: 175px;
    position: absolute;
    top: 7px;
    right: 0;

}
