
.example-card {
    width: 300px;
    height:300px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
    border-radius: 4px;
}

.card-block {
    padding-top:20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: stretch;
}

.css-styling {
    padding:10px;
    font-size:12px;
    background-color: #F4F5F7;
    width:75%;
    margin: auto auto;
    border-radius: 4px;
    position: relative;
    top:13%;
}

.example-card.dashboard {
    height: 180px;
}

.example-card.example-card.dashboard .card-title {
    font-size: 1.25rem;
    padding: 20px 20px 30px 20px;

}

.example-card.example-card.dashboard .card-icon {
    margin-left: 20px;
    width: 70px;
    float: left;
    
}

.example-card.example-card.dashboard .card-value {
    font-size: 3rem;
    font-family: co-headline, sans-serif !important;
    color: #211554;
    margin-top: 15px;
    float: left;
    padding-left: 10px;
    
}