html, body {
  
    height: 100vh;
}

body, h2, h3, h4, h5  {
    font-family: charter, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: #333945;
    
}

h1 {
    font-family: charter;
    color: #3B4E72;
    font-weight: 400;
    font-size: 75px;
}

h2 {
    font-size: 35px;
    font-family: charter;
    font-weight: 300;
    color: #3B4E72;
}



body{
    font-size:1.25rem;
   
}

p {
    line-height: 24px !important;
}


.content-container {
    width: 100%;
    margin: 5% auto;
    display: block;
    min-height: 90vh;
    
}


.grid-display {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
    
}

.heading-container {
    width: 100%;
    float: left;
    padding-bottom: 80px;
}

  

.image-container {
    height: 300px;
    width: 300px;
    margin-left: 10%;
    float: left;
}

.profile-image {
    width: 80%;
}

.title-container {
    width: 50%;
    float: left;
    padding-left:2%;

}

.intro-container {
    width:60%;
    float: left;
    padding-left:2%;
    font-size: 1.25rem;
}



.icon-container {
    width: 100%;
    float: left;
    padding: 0% 10%;
}

.icon-container .icon {
    margin: 10px 15px;
}

.icon-container img {
    width: 50px;
}

.icon-container .left-logos {
    width: 50%;
    float: left;
}
.icon-container .right-logos {
    width: 50%;
    float: right;
}

.icon-container .right-logos img {
    float: right;
}

.overview-container {
    background-color: #FAECD6;
    float: left;
    width: 100%;
    padding: 80px 10%;   
}

.overview-container p {
    float: left;
    padding-top: 30px;
}

.title-line {
    width: 60px;
    height: 3px;
    background-color: #3B4E72;
    display: block;
    float: left;
    margin-top: 23px;
}
.title-box h2 {
    margin-left: 25px;
    float: left;
    display: block;
    margin-top: 0;
}

