html, body {
   background: #ffffff;
    height: 100%;
}

body, h2, h3, h4, h5  {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: #3c3c3b;
    
}

h1 {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: #211554;
    font-weight: 400;
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
    font-weight: bold !important;
    color:#211554;
}

body{
    font-size:1rem;
   
}
h1, h2 {
    color:#211554;
    font-weight: 500 !important;
}

p {
    line-height: 24px !important;
}

.article-section {
    margin: 20px 0;
    padding: 0;

}

.base-div {
    width: 100%;
}



.content-container{
    min-height: 100vh;
    
}

.center .header {height:60px;}
.main {flex: 1 1 auto;}
.main .header {margin-left:15px;}
.main .top { margin-left:15px;}
.primary-container { 
    margin-left:15px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 76px;
}

.page-heading {
    width:70%;
    margin:0 auto;
    padding-top:25px;
}

.page-content {
    width:70%;
    margin: auto;
}

.container-row{
    padding: 10px 0px 10px 0px;
    display:grid;
    padding-bottom: 50px;
    grid-template-columns: 33% 33% 33%;
}

.banner-header {
    height: 75px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px #f0f1f2;
    position: fixed;
    width: 100%;
    z-index: 999;

}

.corp-logo{
    height: 60px;
    width: 180px;
    padding: 12px 0px 0px 10%;
    
}

.header-logo {
    height: 57px;
    display: block;
}



.banner-header .top-navi {
    float: right;
    margin: -27px 5% 0px 0px
}

.banner-header .top-navi .item {
    padding: 10px 25px 10px 25px;
    color: #211554;
    font-size: 1.15rem;
}

.banner-header .top-navi .item:hover {
    color:#8A63FC;
}

.banner-header .top-navi .item.active {
    color: #8A63FC;
}

.grid-display {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
    
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.main-section {
    height: 100vh;
    display: grid;
}


.device-image {
    width: 65%;
    margin: auto;
    display: block;
}

.fifty-split {
    display: grid;
    grid-template-columns: 60% 35%;
    grid-template-rows: auto;
    justify-items: stretch;
}

.info-section {
    padding: 30px 0px;
}
.info-section p {
    padding: 0px 30px 0px 0px
}

.info-section img {
    padding-top: 30px;
}

.primary-img {
    margin:auto;
    display: block;
    padding-bottom: 40px;
}