.dark-grey {background-color: #3C3C3B;}
.dark-purple { background-color: #211554;}
.violet {background-color: #8A63FC;}
.sky{background-color: #15bdde;}
.mint{background-color: #51DEB7;}
.light-grey{background-color: #c6c6c6;}
.dusty-pink{background-color: #DA6A84;}
.mustard{background-color: #E3AB2A;}
.lilac{background-color: #969ACC;}
.success-green{background-color: #3EAB8C;}
.failure-red{background-color: #DB2D43;}
.input-border-grey{background-color: #D6D6D6;}
.dark-shade-grey{background-color: #D1D1D1;}




.color-container {
    margin-top: 30px;
}

.color-container h4 {
   margin-left: 75px;
   
}

.color-block {
    width:85%;
    height:100px;
    display: block;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.16);
    margin: auto;

}

.color-text {
    height:80px;
    padding:10px;
    width: 85%;
    margin: auto;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
    margin-top: -5px;

   
}

.color-row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
}