
.example-toast {
    width: 325px;
    margin: 40px auto;
}
.example-toast {
    padding-bottom: 0;
}

.green { background-color: #3EAB8C;}
.red { background-color: #DB2D43;}
.orange { background-color: #E3AB2A; color:#494949 !important; }
.orange h2 {color:#494949 !important;}
.purple { background-color: #969ACC;}

.toast {
    width: 250px;
    height: 60px;
    color:#ffffff;
    padding:5px 10px 10px 10px;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
}

.toast h2 {
    color:#ffffff;
    padding-bottom: 0 !important;
    margin-top: 7px !important;
    padding-top: 0 !important;
    font-size: 1.25rem;
}

.toast p {
    margin-top:-5px;
    font-size: 0.875rem;
}

.icon-placeholder {
    width:30px;
    height: 30px;
    border-radius: 50px;
    background-color: #ffffff;
    display: block;
    float: left;
    margin-top: 10px;
}
.icon-location {
    width:30px;
    height: 30px;
    display: block;
    float: left;
    margin-top: 10px;
}




.toast-text {
    float: left;
    padding-left:10px;
}

.toast-text .cancel {
    position: relative;
    top: -56px;
    left: 177px;
    font-size: 16px;
}


.info-toast {
    width: 250px;
    height: 180px;
    color:#494949;
    padding:5px 10px 10px 10px;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
}

.info-toast .toast-text {
    width: 85%;
}

.info-toast .icon-location {
    color:#969ACC;
}

.notif-confirm {
    float: left;
    color:#969ACC;
}
.notif-save {
    float: right;
    color:#969ACC;
}

.info-toast .toast-text .cancel {
    position: relative;
    top: -135px;
    left: 130px;
    font-size: 16px;
}

.info-toast h2 {
    padding-bottom: 0 !important;
    margin-top: 7px !important;
    padding-top: 0 !important;
    font-size: 1.25rem;
    color:#494949;
}

.example-toast .helper-1 .horiz-line {
    width:30px;
    background-color: #DA6A84;
    height: 4px;
    border-radius: 10px;
    display: block;
    position: relative;
    top: 15px;
    left: -53px;
}

.example-toast .helper-1 .vert-line {
    width:4px;
    background-color: #DA6A84;
    height: 60px;
    border-radius: 10px;
    display: block;
    position: relative;
    top: -17px;
    left: -53px;
}

.example-toast .helper-1 p {
    position: relative;
    top: -57px;
    left: -7px;
}

.example-toast .helper-2 .horiz-line {
    width:253px;
    background-color: #DA6A84;
    height: 4px;
    border-radius: 10px;
    display: block;
    position: relative;
    top: 32px;
    left: 3px;
}

.example-toast .helper-2 .vert-line {
    width:4px;
    background-color: #DA6A84;
    height: 30px;
    border-radius: 10px;
    display: block;
    position: relative;
    top: 29px;
    left: 125px;
    transform: rotate(-0deg);
}

.example-toast .helper-2 p {
    position: relative;
    top: 36px;
    left: 90px;
}