.icon-container {
    width: 200px;
    display: block;
    margin: 0 auto;
    float: left;

}
.icon-block {
    width: 100%;
    display: flex;
    padding-top:20px;
}

.icon-container svg {
    display: block;
    margin:auto;
}

.icon-container h4 {
    text-align: center;
    padding-top:10px;
}

.fnt-tag {
    width:100%;
    float:left;
    text-align: center;
    color:#939393;
    padding-top:10px;
}

.icon-container .svg-inline--fa.fa-w-14 {
    position: inherit !important;
    right: 0;;
}


