.font-container {
   
    display:grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}


.page-content h2 {
    padding-top:30px;
    margin-bottom:0px;
}


.co-font {
    font-family: co-headline, sans-serif !important;
}

.roboto-font {
    font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.co-type, .roboto-type {

   
    border-radius: 8px;
    margin: 3%;
    padding: 20px;
}


.type-block {
    padding: 0px 30px 0px 30px;
}

.type-block .rem-size {
    color:#939393;
    width: 100%;
    float:left;
}

.type-block .px-size {
    color:#939393;
    margin-left:5px;
}

.type-block .huge, .huge {
    font-size: 2.1875rem;
    line-height: 35px;
}

.type-block .large {
    font-size: 1.875rem;
}

.type-block .big {
    font-size: 1.5625rem;
}

.type-block .small {
    font-size: 0.875rem;
}

.type-sizes {
    padding: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: stretch;
}

.font-details {

}

.font-details p {
 line-height: 1rem !important;
}